<h1 class="display-6 fw-bold" id="skillsContent">EDUCATION<hr style="margin-left: 40%; margin-right: 40%; border-top: 5px solid black;"></h1>
<div style="margin-left: 10%; margin-right: 10%;">
  <dl class="row">
    <dt class="col-sm-3 lead fw-bold">2007 - 2013</dt>
    <dd class="col-sm-9 lead fw-bold">Laboratory Elementary School</dd>
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9 lead"><em>Holy Angel University, Pampanga, Philippines</em></dd>
    <hr>
    <dt class="col-sm-3 lead fw-bold">2013 - 2017</dt>
    <dd class="col-sm-9 lead fw-bold">Junior High School</dd>
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9 lead"><em>Holy Angel University, Pampanga, Philippines</em></dd>
    <hr>
    <dt class="col-sm-3 lead fw-bold">2017 - 2019</dt>
    <dd class="col-sm-9 lead fw-bold">Senior High School</dd>
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9 lead">
      <p><em>Holy Angel University, Pampanga, Philippines</em><br>
        &#8226;&nbsp;Science, Technology, Engineering, and Mathematics (STEM) Graduate<br>
        &#8226;&nbsp;Recevied a Loyalty Award</p>
      </dd>
    <hr>
    <dt class="col-sm-3 lead fw-bold">2019 - Present</dt>
    <dd class="col-sm-9 lead fw-bold">School of Computing</dd>
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9 lead">
      <p><em>Holy Angel University, Pampanga, Philippines</em><br>
        &#8226;&nbsp;1st Year (Second Semester) - Dean's Lister<br>
        &#8226;&nbsp;2nd Year (First & Second Semester) - Dean's Lister</p>
    </dd>
    <hr>
  </dl>
</div>