<nav id="navbar-example2" class="navbar navbar-light px-2 sticky-top" style="background-color: #F4C7AB;">
  <a class="navbar-brand" href="#">SM</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link fw-bold" style="color: white;" routerLink="../about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fw-bold" style="color: white;" routerLink="../skills">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fw-bold" style="color: white;" routerLink="../portfolio">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fw-bold" style="color: white;" routerLink="../contact">Contact</a>
    </li>
  </ul>
</nav>
<img src="../assets/Shaira Mallari.png" id="profilePicture" alt="Profile Picture" class="img-fluid">
<h1 class="display-1">Shaira Mallari<hr><p class="lead">Web Developer</p></h1>
<router-outlet></router-outlet>

<!-- Mallari, Shaira Mella R. WD-301 -->
