<div id="portfolioContent">
  <h1 class="display-6 fw-bold">PORTFOLIO<hr></h1>
  <div class="clearfix">
    <img src="../assets/portfolio-1.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
    <h4 style="text-align: center;">Favolosa PH</h4>
    <p class="lead" style="text-align: center; margin-bottom: 10%;">This is a final group project in the subject WEBSEA wherein
      we developed a business website of our chosen business. We partnered with Favolosa which is a local brand that 
      is selling affordable jewelry and apparel located in Angeles City, Pampanga.
      <a href="https://favolosaph.com/" class="lead"><br>Visit site</a>
    </p>
    
    <img src="../assets/portfolio-2.png" class="col-md-6 float-md-start" alt="...">
    <h4 style="text-align: center;">Inocencio Magtoto Memorial Foundation Inc.</h4>
    <p class="lead" style="text-align: center;">This is a Community Outreach Project in our organization (Code Geeks)
      wherein we developed a website for IMMFI in order to reach more people who want to help the children in the institution.
      IMMFI is a family initiated institution responding to childhood disability prevention, early detection and intervention in the province of Pampanga.
      <a href="https://immfi.org/" class="lead"><br>Visit site</a>
    </p>
  </div>
</div>