<div id="aboutContent">
    <h1 class="display-6 fw-bold" >PROFILE<hr></h1>
    <p class="lead" style="text-align: justify;">
        Hi! I'm Shaira Mella R. Mallari, a Bachelor of Science in Information Technology (BSIT)
        student major in Web Development at Holy Angel University. Seeking to use and enhance my web desinging
        experience at the company that I will be working in the future. I believe that my determination, commitment
        to success, creativity, growth mindset, communication skills and problem-solving is fit for the position
        as a web developer.
    </p>
    <ul class="list-unstyled">
        <li class="lead"><strong class="fw-bold">Date of Birth&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;February 06, 2001</li>
        <li class="lead"><strong class="fw-bold">Nationality&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;Filipino</li>
        <li class="lead"><strong class="fw-bold">Marital Status&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;Single</li>
        <li class="lead"><strong class="fw-bold">Languages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;English & Tagalog</li>
    </ul>
    <br>
    <p class="lead" style="margin-left: 20%;">CSS & HTML</p>
    <div class="progress" style="margin-left: 20%; margin-right: 20%;">
        <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #B2B8A3;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
    </div>
    <br>
    <p class="lead" style="margin-left: 20%;">MySQL</p>
    <div class="progress" style="margin-left: 20%; margin-right: 20%;">
        <div class="progress-bar" role="progressbar" style="width: 50%; background-color: #B2B8A3;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
    </div>
    <br>
    <p class="lead" style="margin-left: 20%;">Testing & Debugging</p>
    <div class="progress" style="margin-left: 20%; margin-right: 20%;">
        <div class="progress-bar" role="progressbar" style="width: 30%; background-color: #B2B8A3;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
    </div>
</div>
